<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WorldServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WorldServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44388/WorldService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WorldServiceSoap"
                contract="WorldServiceReference.WorldServiceSoap" name="WorldServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>